/*
Ratios:

AA text
4.5:1
https://www.w3.org/TR/WCAG21/#contrast-minimum

AA large text
3:1
https://www.w3.org/TR/WCAG21/#contrast-minimum

AA non-text
3:1
https://www.w3.org/TR/WCAG21/#non-text-contrast

AAA text
7:1
https://www.w3.org/TR/WCAG21/#contrast-enhanced

AAA large text
4.5:1
https://www.w3.org/TR/WCAG21/#contrast-enhanced

incidental
1:1 (no contrast; ergo, invisible)
https://www.w3.org/TR/WCAG21/#contrast-minimum

logotype
1:1 (no contrast; ergo, invisible)
https://www.w3.org/TR/WCAG21/#contrast-minimum

Large text is defined as 14 point (typically 18.66px) and bold or larger, or 18 point (typically 24px) or larger.
 */
.col-right, .col-half, .col-2of4, .col-1of2 {
  flex: 0 0 auto;
  width: 50%;
}

.col-9, .col-3of4 {
  flex: 0 0 auto;
  width: 75%;
}

.col-right, .offset-1of2 {
  margin-left: 50%;
}

.col {
  flex: 1 0 0%;
  width: 100%;
}

.col-silly {
  flex: 0 0 auto;
  width: 12.5%;
}

.noffset-1of2 {
  margin-left: -100%;
}

.row {
  outline: 1px solid blue;
}
.row > * {
  background: rgba(255, 0, 0, 0.25);
  box-sizing: border-box;
  outline: 1px dotted red;
  padding: 16px;
}
.row > *::before {
  content: attr(class);
}

.break-1 {
  color: lime;
}

.break-2 {
  background: red;
}
@media (min-width: 900px) {
  .break-2 {
    background: lime;
  }
}

@media (min-width: 900px) {
  .break-3 {
    background: lime;
  }
}

.list {
  transition-property: background-color, color, transform;
}

.golden-ratio-a {
  flex: 0 0 auto;
  width: 61.803398875%;
}

.golden-ratio-b {
  flex: 0 0 auto;
  width: 38.196601125%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}