
$columns: ();

@mixin column($math) {
  $key: str-replace(#{$math}, '.', '-');

  @if not (map-has-key($columns, $key)) {
    $columns: map-merge($columns, (
            $key: $key
    )) !global;

    @at-root %column-#{$key} {
      flex: 0 0 auto;
      width: percentage($math);
    }
  }

  @extend %column-#{$key};
}
