
// Define an empty list in the global scope.
// TODO: Consider moving this to the mixin.
$de-columns: ();
// Set a default column count to be used when working with integers.
// TODO: Consider moving this to _variables.
// TODO: Consider namespacing it.
// TODO: Consider *not* namespacing it, for compatibility with frameworks like Bootstrap.
// TODO: Consider introducing a mapping from a non-namespaced to a namespaced version.
$column-count: 12 !default;

// Define the mixin.
// Usage: `selector { @include column(1/2); }`
@mixin column($numerator: false, $denominator: false) {
  // Off the bat, assume we will use the first value for everything. Check other things afterwards.
  $math: $numerator;

  // If the first value is greater than one, behave more like Bootstrap columns (where col-3 means width 25% by default).
  // However, we need a denominator for that. If none has been set explicitly, use the column count.
  @if $math != false and $math > 1 and $denominator == false {
    $denominator: $column-count;
  }

  // If a denominator has been set (either when calling the mixin, or in the logic above), make it a fraction.
  @if $denominator != false {
    $math: $math / $denominator;
  }

  // Turn the maths into a string so we can use it for variable names.
  $key: str-replace(#{$math}, '.', '-');

  // Check if the key we just made is *not* listed.
  @if not (map-has-key($de-columns, $key)) {
    // List the key, but do so in the global scope.
    $de-columns: map-merge($de-columns, (
            $key: $key
    )) !global;
    // (Actually, we created a new list, and assigned it to the same variable, because Sass lists are immutable.)

    // Create a placeholder selector in the global scope, so we can extend it.
    @at-root %column-#{$key} {
      // If the numerator was not explicitly set, create an auto-width column in Bootstrap 5 fashion.
      @if $numerator == false {
        flex: 1 0 0%;
        width: 100%;
      } @else {
        // Reset flex.
        flex: 0 0 auto;
        // If the numerator *was* set, set the width to whatever was calculated.
        width: percentage($math);
      }
    }
  }

  // Extend the placeholder selector.
  @extend %column-#{$key};

  // Profit!
}
